.drpbutton {
    position: relative;
    margin-top: 30px;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 8px;
    transition-duration: 0.4s;
    background-color: rgb(42, 40, 54);
    color: white;
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.category{
    margin-top: 40px;
    margin-left: 20px;
    max-width: 500px;
}

.drpbutton:hover {
    background-color: rgb(89, 71, 167);
    color: white;
  }