.form-row{
    max-width: 500px;
}

.datecell{
    max-width: 100px;
}

.form-label{
    position: relative;
    float: left;
}
.group2{
    margin-top: 40px;
    margin-left: 20px;
}

.group1{
    margin-top: 50px;
    margin-left: 20px;
}
.category{
    margin-top: 40px;
    margin-left: 20px;
    max-width: 500px;
}

.button{
    float: left;
    margin-top: 50px;
    padding: 10px 50px;
    border-radius: 8px;
    transition-duration: 0.4s;
    background-color: rgb(42, 40, 54);
    color: white;
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.button:hover {
    background-color: rgb(89, 71, 167);
    color: white;
  }

.table{
    position: relative; 
    padding: 100px 500px;
    margin-top: 50px;
    max-width: 500px;
}